In [1]:
import pandas as pd 
from src.model_io import rmse_comp
from test_runner import avg_rmse_dfs

In [2]:
blocked_cv_hour = pd.read_csv('cv_rmse_scores/cv_avg_rmse_scores/blocked_avg_rmse_1h.csv')
blocked_cv_12_hours = pd.read_csv('cv_rmse_scores/cv_avg_rmse_scores/blocked_avg_rmse_12h.csv')
blocked_cv_day = pd.read_csv('cv_rmse_scores/cv_avg_rmse_scores/blocked_avg_rmse_24h.csv')
blocked_cv_3_days = pd.read_csv('cv_rmse_scores/cv_avg_rmse_scores/blocked_avg_rmse_72h.csv')
blocked_cv_week = pd.read_csv('cv_rmse_scores/cv_avg_rmse_scores/blocked_avg_rmse_168h.csv')
expanded_w_cv_hour = pd.read_csv('cv_rmse_scores/cv_avg_rmse_scores/expanded_w_avg_rmse_1h.csv')
expanded_w_cv_12_hours = pd.read_csv('cv_rmse_scores/cv_avg_rmse_scores/expanded_w_avg_rmse_12h.csv')
expanded_w_cv_day = pd.read_csv('cv_rmse_scores/cv_avg_rmse_scores/expanded_w_avg_rmse_24h.csv')
expanded_w_cv_3_days = pd.read_csv('cv_rmse_scores/cv_avg_rmse_scores/expanded_w_avg_rmse_72h.csv')
expanded_w_cv_week = pd.read_csv('cv_rmse_scores/cv_avg_rmse_scores/expanded_w_avg_rmse_168h.csv')

In [3]:
blocked_cv_hour

   model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0       22.453145          26.457072         20.514575

In [4]:
expanded_w_cv_hour

   model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0       23.070098          26.507655         23.407214

In [5]:
blocked_cv_12_hours

   model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0       32.051933          44.520043         32.696293

In [6]:
expanded_w_cv_12_hours

   model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0       31.565206          43.837525         35.094361

In [7]:
blocked_cv_day

   model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0       27.250748          33.939043         26.399424

In [8]:
expanded_w_cv_day

   model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0       26.646916          33.436231         27.814538

In [9]:
blocked_cv_3_days

   model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0       25.555083          40.261222         29.471842

In [10]:
expanded_w_cv_3_days

   model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0       25.896538          39.909022         28.899388

In [11]:
blocked_cv_week

   model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0         26.1467          55.074858         29.036996

In [12]:
expanded_w_cv_week

   model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0       26.525833          56.064825         29.150057

LinearRegression and TBATS outperform SARIMA by a wide margin for every cross validation type and forecast length, and LinearRegression edges out TBATS for every forecast length and cross validation type except for expanding window cross validation for a 72 hour forecast. Let's get a look at the cross validation folds for both blocked and expanding window cross validation for a 72 hour forecast length.

Note that the second value for each fold number is the one that corrsponds to rmses for expanding window cross validation.

In [13]:
paths_fold_rmses = ['cv_rmse_scores/cv_fold_rmse_scores/blocked_cv_fold_0_72h.csv', 'cv_rmse_scores/cv_fold_rmse_scores/expanded_w_cv_fold_0_72h.csv',
                'cv_rmse_scores/cv_fold_rmse_scores/blocked_cv_fold_1_72h.csv', 'cv_rmse_scores/cv_fold_rmse_scores/expanded_w_cv_fold_1_72h.csv',
                'cv_rmse_scores/cv_fold_rmse_scores/blocked_cv_fold_2_72h.csv', 'cv_rmse_scores/cv_fold_rmse_scores/expanded_w_cv_fold_2_72h.csv',
                'cv_rmse_scores/cv_fold_rmse_scores/blocked_cv_fold_3_72h.csv', 'cv_rmse_scores/cv_fold_rmse_scores/expanded_w_cv_fold_3_72h.csv',
                'cv_rmse_scores/cv_fold_rmse_scores/blocked_cv_fold_4_72h.csv', 'cv_rmse_scores/cv_fold_rmse_scores/expanded_w_cv_fold_4_72h.csv']
    
fold_rmse_names = ['df_blocked_fold_0_72h', 'df_exp_w_fold_0_72h',
                'df_blocked_fold_1_72h', 'df_exp_w_fold_1_72h',
                'df_blocked_fold_2_72h', 'df_exp_w_fold_2_72h',
                'df_blocked_fold_3_72h', 'df_exp_w_fold_3_72h',
                'df_blocked_fold_4_72h', 'df_exp_w_fold_4_72h']

    
fold_rmse_dfs = {}

for file_path, name in zip(paths_fold_rmses, fold_rmse_names):
    fold_rmse_dfs[name] = pd.read_csv(file_path)

In [14]:
fold_rmse_dfs['df_blocked_fold_0_72h']

   fold  model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0     0       17.769222          24.801399         20.160621

In [15]:
fold_rmse_dfs['df_exp_w_fold_0_72h']

   fold  model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0     0       17.769222          24.801399         20.160621

In [16]:
fold_rmse_dfs['df_blocked_fold_1_72h']

   fold  model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0     1        21.68045          34.697518         18.236773

In [17]:
fold_rmse_dfs['df_exp_w_fold_1_72h']

   fold  model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0     1       21.930966          34.494381         19.807039

In [18]:
fold_rmse_dfs['df_blocked_fold_2_72h']

   fold  model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0     2       22.314357          33.888614         21.223949

In [19]:
fold_rmse_dfs['df_exp_w_fold_2_72h']

   fold  model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0     2       21.633223          35.157888         21.279933

In [20]:
fold_rmse_dfs['df_blocked_fold_3_72h']

   fold  model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0     3       22.045687          42.035402         29.878432

In [21]:
fold_rmse_dfs['df_exp_w_fold_3_72h']

   fold  model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0     3       22.791508          40.616683         25.317633

In [22]:
fold_rmse_dfs['df_blocked_fold_4_72h']

   fold  model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0     4       38.672746          58.055057         47.547242

In [23]:
fold_rmse_dfs['df_exp_w_fold_4_72h']

   fold  model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0     4       39.610501          57.209146         47.783738

We can see that TBATs outperformed LinearRegression on both cross validation types for fold 2, was slightly better for expanded window cv on fold 3, and is better across the board for fold 3. However, our rmse_comp function is set up to pick the model with the lowest standard devation across all folds and cross validation types which would be LinearRegression in this case. The reasons in favor of sticking with the default result would be that, of course, the default result showed more consistent performance during cross validation, and that blocked cross validation is more robust than expanding window cross validation because a given piece of training data that leads to poor performance may be drowned out in expanding window cross validation because in larger training sets, training data a model does not utilize well can be drowned out by training sets the model does utilize well. Of course, we see this occur in the 72 hour forecast window for our TBATS model. The model performs comparably very bad for blocked CV on fold 3, and comparably good for expanding window cv on fold 3. 

These results favor the default selection of a the more cosistent LinearRegression model. However, in practice, real world implementation with dynamic model training is more closely approximated by expanding window cross validation. The only risk would be that we get a fold like fold 3 as our first set of training data the model performs on, leading to comparably poor early performance. In principle, it's possible we might try to deploy a model with only 6 weeks worth of training for a time series foreasting situation like this, but if we were to deploy a model with the amount of training data we have in this set, it would appear to be a non-issue. Therefore, we would be justified in overwriting the default selection of LinearRegression for this 3 day forecasting window, especially because the performance gap for expanding window cross validation appears to be improving as the amount of data trained on increases. Therefore, we have to set the override parameter to True, and pass the rmse_comp function the name of the model we want to be tested on the test set. Therefore our rmse_comp function call will look like this for a 3 day forecast length:
```
best_model_3_days = rmse_comp(avg_rmse_dfs['df_72_hours_blocked'], 
                                  avg_rmse_dfs['df_72_hours_exp_w'], 
                                  '3_days', 
                                  72, 
                                  override=True, 
                                  override_model=TBATS)
```
This is different from the call we used when we were happy with the default result which looked like this:
```
best_model_3_days = rmse_comp(avg_rmse_dfs['df_72_hours_blocked'], 
                                  avg_rmse_dfs['df_72_hours_exp_w'], 
                                  '3_days', 
                                  72)
```

The rmse_comp function prompts a manual review of the rmses o the different cv folds to ensure the reviewer agrees with the default selection. See the model_io.py script in the src folder for a review of the code.

With our rmse_comp

In [24]:
test_results_df = pd.read_csv('test_results.csv')

In [25]:
test_results_df

,best_hour_model: LinearRegression,best_12_hour_model: LinearRegression,best_day_model: TBATS,best_3_day_model: LinearRegression,best_week_model: LinearRegression
0,41.069461,37.367556,58.488358,50.824971,50.027583
1,0.674510,0.672130,0.947651,0.808470,0.798322
2,0.545036,0.548241,0.101958,0.346376,0.362682