In [1]:
%cd ..

C:\Users\Caitlin\Documents\Brett_TTT_projects\predicting_next_hour_taxis

In [2]:
import pandas as pd 
import src.pre_processing as pre
from src.model_io import rmse_comp
from test_runner import avg_rmse_dfs

In [3]:
blocked_cv_hour = pd.read_csv('cv_rmse_scores/cv_avg_rmse_scores/blocked_avg_rmse_1h.csv')
blocked_cv_12_hours = pd.read_csv('cv_rmse_scores/cv_avg_rmse_scores/blocked_avg_rmse_12h.csv')
blocked_cv_day = pd.read_csv('cv_rmse_scores/cv_avg_rmse_scores/blocked_avg_rmse_24h.csv')
blocked_cv_3_days = pd.read_csv('cv_rmse_scores/cv_avg_rmse_scores/blocked_avg_rmse_72h.csv')
blocked_cv_week = pd.read_csv('cv_rmse_scores/cv_avg_rmse_scores/blocked_avg_rmse_168h.csv')
expanded_w_cv_hour = pd.read_csv('cv_rmse_scores/cv_avg_rmse_scores/expanded_w_avg_rmse_1h.csv')
expanded_w_cv_12_hours = pd.read_csv('cv_rmse_scores/cv_avg_rmse_scores/expanded_w_avg_rmse_12h.csv')
expanded_w_cv_day = pd.read_csv('cv_rmse_scores/cv_avg_rmse_scores/expanded_w_avg_rmse_24h.csv')
expanded_w_cv_3_days = pd.read_csv('cv_rmse_scores/cv_avg_rmse_scores/expanded_w_avg_rmse_72h.csv')
expanded_w_cv_week = pd.read_csv('cv_rmse_scores/cv_avg_rmse_scores/expanded_w_avg_rmse_168h.csv')

## Average Cross Validation Performance

If you took a look at the corss validation script, you know we tried both expanding window cross validation and blocked cross validation for each model for each forecast length. Listed below are the average rmse scores for all of the models and both cv methods for all forecast lengths.

### Hour Forecast

In [4]:
blocked_cv_hour

   model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0       22.453145          26.457072         20.514575

In [5]:
expanded_w_cv_hour

   model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0       23.070098          26.507655         23.407214

### 12 Hour Forecast

In [6]:
blocked_cv_12_hours

   model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0       32.051933          44.520043         32.696293

In [7]:
expanded_w_cv_12_hours

   model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0       31.565206          43.837525         35.094361

### Day Forecast

In [8]:
print(blocked_cv_day)

   model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0       27.250748          33.939043         26.399424

In [9]:
print(expanded_w_cv_day)

   model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0       26.646916          33.436231         27.814538

### 3 Day Forecast

In [10]:
print(blocked_cv_3_days)

   model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0       25.555083          40.261222         29.471842

In [11]:
print(expanded_w_cv_3_days)

   model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0       25.896538          39.909022         28.899388

### Week Forecast

In [12]:
blocked_cv_week

   model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0         26.1467          55.074858         29.036996

In [13]:
expanded_w_cv_week

   model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0       26.525833          56.064825         29.150057

LinearRegression and TBATS outperform SARIMA by a wide margin for every cross validation type and forecast length, and LinearRegression edges out TBATS for every forecast length and cross validation type except for expanding window cross validation for a 72 hour forecast. This is somewhat surprising as increased data is known to benefit TBATs in its ability to capture multiple seasonalities and longer term trends. 

In fact, I specifically included both blocked_cv and exp_w_cv because I thought using blocked_cv alone would give LinearRegression an unfair advantage. Let's get a closer look to see what the breakdown is fold by fold.

## Per Fold Cross Validation Performance 24 Hour Forecast

Please note that the second value for each fold number is the one that corrsponds to rmses for expanding window cross validation.

In [14]:
paths_fold_rmses = ['cv_rmse_scores/cv_fold_rmse_scores/blocked_cv_fold_0_24h.csv', 'cv_rmse_scores/cv_fold_rmse_scores/expanded_w_cv_fold_0_24h.csv',
                'cv_rmse_scores/cv_fold_rmse_scores/blocked_cv_fold_1_24h.csv', 'cv_rmse_scores/cv_fold_rmse_scores/expanded_w_cv_fold_1_24h.csv',
                'cv_rmse_scores/cv_fold_rmse_scores/blocked_cv_fold_2_24h.csv', 'cv_rmse_scores/cv_fold_rmse_scores/expanded_w_cv_fold_2_24h.csv',
                'cv_rmse_scores/cv_fold_rmse_scores/blocked_cv_fold_3_24h.csv', 'cv_rmse_scores/cv_fold_rmse_scores/expanded_w_cv_fold_3_24h.csv',
                'cv_rmse_scores/cv_fold_rmse_scores/blocked_cv_fold_4_24h.csv', 'cv_rmse_scores/cv_fold_rmse_scores/expanded_w_cv_fold_4_24h.csv']
    
fold_rmse_names = ['df_blocked_fold_0_24h', 'df_exp_w_fold_0_24h',
                'df_blocked_fold_1_24h', 'df_exp_w_fold_1_24h',
                'df_blocked_fold_2_24h', 'df_exp_w_fold_2_24h',
                'df_blocked_fold_3_24h', 'df_exp_w_fold_3_24h',
                'df_blocked_fold_4_24h', 'df_exp_w_fold_4_24h']

    
fold_rmse_dfs = {}

for file_path, name in zip(paths_fold_rmses, fold_rmse_names):
    fold_rmse_dfs[name] = pd.read_csv(file_path)

In [15]:
fold_rmse_dfs['df_blocked_fold_0_24h']

   fold  model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0     0       15.951337          23.103068         16.263123

In [16]:
fold_rmse_dfs['df_exp_w_fold_0_24h']

   fold  model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0     0       15.951337          23.103068         16.263123

In [17]:
fold_rmse_dfs['df_blocked_fold_1_24h']

   fold  model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0     1        21.11044          26.142512         19.742483

In [18]:
fold_rmse_dfs['df_exp_w_fold_1_24h']

   fold  model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0     1       21.448145          25.906981         22.654166

In [19]:
fold_rmse_dfs['df_blocked_fold_2_24h']

   fold  model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0     2       21.141054          29.094704         23.341672

In [20]:
fold_rmse_dfs['df_exp_w_fold_2_24h']

   fold  model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0     2       20.296105          29.212697         23.249334

In [21]:
fold_rmse_dfs['df_blocked_fold_3_24h']

   fold  model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0     3       20.983668          31.795311         24.574369

In [22]:
fold_rmse_dfs['df_exp_w_fold_3_24h']

   fold  model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0     3        20.22987           31.33188         28.204973

In [23]:
fold_rmse_dfs['df_blocked_fold_4_24h']

   fold  model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0     4       46.104902          51.813772         41.008047

In [24]:
fold_rmse_dfs['df_exp_w_fold_4_24h']

   fold  model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0     4       44.884775          50.496694         41.886635

We can see that TBATS' comparative advantage over linear regression is inconcsistent. It underperforms LinearRegression on every exp_w fold except for the final one. Moreover, it also underperforms LinearRegression on 3 of the 5 blocked folds (folds 0, 2, and 3). When the best cv performancence differs on the two cv methods, the code is set to select the ore consistent model (measured in standard deviation size). However, given that the logic behind including expanding windwo cross validation was to give SARIMA and TBATS a fighting chance, and TBATs was still outperformed on this metric, was outperformed on 3 of five folds during blocked cv, and had only a marginal advantage in blocked_cv (27.25 to 26.40) it is reasonable to set the override parameter to True on our rmse_comp function and pass the function LinearRegression as the override model. This decision is further justified by the fact that LinearRegression trains much faster than TBATS and is significantly more computationally efficient. 

Therefore, our rmse_comp() function call will look like this in the test_runner script:

```
best_model_day = rmse_comp(avg_rmse_dfs['df_one_day_blocked'], 
                                  avg_rmse_dfs['df_ond_day_exp_w'], 
                                  'day', 
                                  24, 
                                  override=True, 
                                  override_model=TBATS)
```
This is different from the call we used when we were happy with the default result which looked like this:
```
best_model_day = rmse_comp(avg_rmse_dfs['df_one_day_blocked'], 
                                  avg_rmse_dfs['df_one_day_exp_w'], 
                                  'day', 
                                  24)
```

The rmse_comp function prompts a manual review of the rmses of the different cv folds to ensure the reviewer agrees with the default selection. See the model_io.py script in the src folder for a review of the code.

Let's get a look at how our models' performance compares to naive models that simply predict either the taxis from 1 hour past, 24 hours past, 72 hours past, or 168 hours past.

In [25]:
hour_test_results_df = pd.read_csv('hour_test_results.csv', index_col=0)
hour_test_results_df

,best_hour_model: LinearRegression,lag_1,lag_24,lag_72,lag_168
rmse,41.069461,74.296422,49.678131,58.339166,51.645426
nrmse,0.674510,1.220218,0.815896,0.958142,0.848206
r2,0.545036,-0.488932,0.334314,0.081964,0.280546

In [26]:
twelve_hours_test_results_df = pd.read_csv('12_hours_test_results.csv', index_col=0)
twelve_hours_test_results_df

       best_12_hours_model: LinearRegression     lag_24     lag_72    lag_168
rmse                               37.367556  49.678131  58.339166  51.645426
nrmse                               0.672130   0.815896   0.958142   0.848206
r2                                  0.548241   0.334314   0.081964   0.280546

In [27]:
day_test_results_df = pd.read_csv('day_test_results.csv', index_col=0)
day_test_results_df

       best_day_model: LinearRegression     lag_24     lag_72    lag_168
rmse                          43.119087  47.485712  57.959653  51.073826
nrmse                          0.698632   0.808351   0.986649   0.869431
r2                             0.511913   0.346569   0.026524   0.244089

In [28]:
three_days_test_results_df = pd.read_csv('3_days_test_results.csv', index_col=0)
three_days_test_results_df

       best_3_days_model: LinearRegression     lag_72    lag_168
rmse                             50.824971  57.757433  52.414467
nrmse                             0.808470   0.931244   0.845097
r2                                0.346376   0.132785   0.285811

In [29]:
week_test_results_df = pd.read_csv('week_test_results.csv', index_col=0)
week_test_results_df

       best_week_model: LinearRegression    lag_168
rmse                           50.027583  46.985030
nrmse                           0.798322   0.753809
r2                              0.362682   0.431772

In [30]:
pre.X_train_week.head()

,lag_168,hour,day_of_week,day_of_month,hour_sin,hour_cos,dow_sin,dow_cos,dom_sin,dom_cos
datetime,,,,,,,,,,
2018-03-08 00:00:00,124.0,0,3,8,0.000000,1.000000,0.433884,-0.900969,0.996762,-0.080414
2018-03-08 01:00:00,85.0,1,3,8,0.258819,0.965926,0.433884,-0.900969,0.996762,-0.080414
2018-03-08 02:00:00,71.0,2,3,8,0.500000,0.866025,0.433884,-0.900969,0.996762,-0.080414
2018-03-08 03:00:00,66.0,3,3,8,0.707107,0.707107,0.433884,-0.900969,0.996762,-0.080414
2018-03-08 04:00:00,43.0,4,3,8,0.866025,0.500000,0.433884,-0.900969,0.996762,-0.080414

Our models which forecast 1 hour, 12 hours, and 1 day into the future significantly outperform any naive models we might apply to the test data. This is not trivial. Each of the naive predictors we used was a feature which the regression model trained on. Moreover, we know our data has significant seasonality at both daily and weekly intervals. It is unsurprising, therefore, that lag_24 andd lag_168 accounted for a significantly greater proportion of the variance than did lag_1 and lag_72. lag_24 and lag_168 regularly account for between 24 and 43 percent of the variance on a given forecast task, while lag_72 tops out at 13 percent and lag_1 appears to perform worse than a naive mean predictor, effectly adding error to the model. 

Our model which attempted to forecast for 3 days into the future did not significantly outperform the lag_168 predictor and the one week forecaster underperformed the lag_168 model, although the disparity between the 3 days predictor and the week predictor on this point likely results from the fact that lag_168 just happened to fit the test data for the week forecaster a little better than it did the 3 days test data, especially considerin that the LinearRegression models for those two forecast lengths had nearly identical rmse scores. It is also worth noting that the lag_168 predictor outperformed the LinearRegression model which consisted of only categorical and cyclical hour, day_of_week, and day_of_month features (see above). This suggests that these features may also be adding error to the model, rather than increasing its performance. 

Some caveats shoudl be noted. In particular, each of our test sets were rather short. This was simply for the sake of time in the event that TBATS or SARIMA came out to be the best model. The 1 hour and 12_hour forecasts were 24 hours long, the day long forecast had a test set of 28 samples, the 72 hour forecast had a test set of 76, and the week long forecast had a test set of 172. Each of the test sets were intentionally set to to be a little longer than the the forecast length so we could implement a rolling horizon for each model to simulate real world deployment. This means that on each iteration the model re-trains on the same data set with the addition of one new sample which leads to a time consuiming process for TBATS and SARIMA.

All things considered, if we want to demonstrate that our models are robust, we would want to test them on a larger test set.

## Summary and Conclusions

Our first three models performed well by comparison to naive predictors. However, as we had to drop more lag features to prevent data leakage, the model performance significantly reduced at a forecast length of 3 days. Still, there is some reason to think we could improve this performance. We know that the lag_1 feature added error and the only difference between the feature set for the hour forecast and the 12 hour forecast was the absence of this feature. Since they were tested on the same test set samples, we can say with near certainty that the absence of this lag_1 variable would improve the metrics of the hour long forecast to match those of the 12 hour long forecast. The lag_168 predictor outperformed the LinearRegression model that was trained on only that same lag_168 feature, and categorical and cyclical encodings for hour, day_of_week, and day_of_month. We would assume that a LinearRegression model utilizing only a lag_168 feature would outperform a naive predictor that simply predicts lag_168 each time. 

In fact, this is almost (but not quite) true by definition. If the LinearRegression model has enough samples then, even if lag_168 is a perfect predictor, the ordinary least squares approach for LinearRegression ensures that we are finding the relationship between lag_168 and the target variable that optimizes for the least amount of loss. The normal equation - $\theta = (X^T X)^{-1} X^T y$ - is optimized to ensure that the mean squared error is minimized. This is done by taking the partial derivative of  $\frac{1}{n} \| Xw - y \|^2$ (i.e. mean squared error) with respect to w where w represents your weights vector. The partial derivative of $\frac{1}{n} \| Xw - y \|^2$ with respect to w is $\frac{1}{m} X^T (Xw - y)$ This means that for a tiny change in an amount approaching zero to each of the weights, the output of the mean squared loss function will change by the amount specified by $\frac{1}{n} X^T (Xw - y)$. Another way of putting this is that $\frac{1}{n} X^T (Xw - y)$ is the gradient vector of mean squared loss with respect to w, which means that it is the vector defining the direction of steepest ascent at any point in the function which means it gives the direction of steepest ascent generally (symbolically), and at a specific point when evaluated at a particular set of weight values.  You then set the gradient vector to 0 and solve for w which gives you the normal equaion: $\theta = (X^T X)^{-1} X^T y$. The reason you do this is that setting the gradient vector equal to zero means that there will be no change in the function output for a tiny change approaching zero to all of the weights. This means that the point where the gradient vector equals 0 has a slope of 0. Since the mean squared loss function has the shape of a paraboloid (multi-dimensional parabola) the only point where its slope will be 0 will be at the vertex of the function which is the lowest point on the function for a paraboloid, thereby ensuring that we are choosing the weights which yield the global minimum output for the mean squared loss function.  

This process gives us a pretty strong assurance that a LinearRegression model passed a lag_168 feature would outperform a lag_168 predictor when modeling the same data set, assuming the LinearRegression model has a sufficient number of samples. In which case, in the absence of any noise (which we have stipulated by claiming the lag_168 predictor is a perfect predictor) the model would be identical to the lag_168 predictor 

However, in practice this is not a guarantee, principally because, in our case, lag_168 is choosing lag values for the test set and our LinearRegression model was trained on the training set. Therefore, since the model is optimizing loss for a different data set before making predictions on a different data set it is no gurauntee it would approach the performance of lag_168 with the addition of new samples if lag_168 were a perfect predictor. Of course, we know based on our rmse, normalized rmse, and r2 scores that lag_168 is not a perfect predictor of the test set. Therefore, all of the logic laid out above in conjunction with the fact that lag_168 outperformed the LinearRegression model trained on lag_168 and hour, day_of_week, and day_of_month features, is a pretty good indication that the model would perform better without the latter features. This suggests that the models with shorter forecast lengths may have also benefitted from a leaner feature set.

Finally, it is worth noting that the portion of the data we tested the model on had the most variance and was the most difficult to predict. This is apparant from the plots we drew in our EDA. This can also be seen from the per fold cross validation data laid out above. Even for blocked cv, where no training set is any larger than any other, validation performance is much better on the early months (starting at March 1st) of the data set than it is on the later months of the data set. Each of the per fold results had this characteristic. We will not load them here to avoid all of the clutter, but if you run the cross validation scripts in the project directory, this is the pattern you will see.