In [1]:
import pandas as pd 
from src.model_io import rmse_comp
from test_runner import avg_rmse_dfs

In [2]:
blocked_cv_hour = pd.read_csv('cv_rmse_scores/cv_avg_rmse_scores/blocked_avg_rmse_1h.csv')
blocked_cv_12_hours = pd.read_csv('cv_rmse_scores/cv_avg_rmse_scores/blocked_avg_rmse_12h.csv')
blocked_cv_day = pd.read_csv('cv_rmse_scores/cv_avg_rmse_scores/blocked_avg_rmse_24h.csv')
blocked_cv_3_days = pd.read_csv('cv_rmse_scores/cv_avg_rmse_scores/blocked_avg_rmse_72h.csv')
blocked_cv_week = pd.read_csv('cv_rmse_scores/cv_avg_rmse_scores/blocked_avg_rmse_168h.csv')
expanded_w_cv_hour = pd.read_csv('cv_rmse_scores/cv_avg_rmse_scores/expanded_w_avg_rmse_1h.csv')
expanded_w_cv_12_hours = pd.read_csv('cv_rmse_scores/cv_avg_rmse_scores/expanded_w_avg_rmse_12h.csv')
expanded_w_cv_day = pd.read_csv('cv_rmse_scores/cv_avg_rmse_scores/expanded_w_avg_rmse_24h.csv')
expanded_w_cv_3_days = pd.read_csv('cv_rmse_scores/cv_avg_rmse_scores/expanded_w_avg_rmse_72h.csv')
expanded_w_cv_week = pd.read_csv('cv_rmse_scores/cv_avg_rmse_scores/expanded_w_avg_rmse_168h.csv')

In [3]:
blocked_cv_hour

   model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0       22.453145          26.457072         20.514575

In [4]:
expanded_w_cv_hour

   model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0       23.070098          26.507655         23.407214

In [5]:
blocked_cv_12_hours

   model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0       32.051933          44.520043         32.696293

In [6]:
expanded_w_cv_12_hours

   model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0       31.565206          43.837525         35.094361

In [25]:
print(blocked_cv_day)

   model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0       27.250748          33.939043         26.399424

In [26]:
print(expanded_w_cv_day)

   model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0       26.646916          33.436231         27.814538

In [27]:
print(blocked_cv_3_days)

   model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0       25.555083          40.261222         29.471842

In [28]:
print(expanded_w_cv_3_days)

   model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0       25.896538          39.909022         28.899388

In [11]:
blocked_cv_week

   model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0         26.1467          55.074858         29.036996

In [12]:
expanded_w_cv_week

   model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0       26.525833          56.064825         29.150057

LinearRegression and TBATS outperform SARIMA by a wide margin for every cross validation type and forecast length, and LinearRegression edges out TBATS for every forecast length and cross validation type except for expanding window cross validation for a 72 hour forecast. Let's get a look at the cross validation folds for both blocked and expanding window cross validation for a one day forecast length. This is somewhat surprising as increased data is known to benefit TBATs in its ability to capture multiple seasonalities and longer term trends. 

In fact, I specifically included both blocked_cv and exp_w_cv because I thought using blocked_cv alone would give LinearRegression an unfair advantage. Let's get a closer look to see what the breakdown is fold by fold.

Note that the second value for each fold number is the one that corrsponds to rmses for expanding window cross validation.

In [13]:
paths_fold_rmses = ['cv_rmse_scores/cv_fold_rmse_scores/blocked_cv_fold_0_24h.csv', 'cv_rmse_scores/cv_fold_rmse_scores/expanded_w_cv_fold_0_24h.csv',
                'cv_rmse_scores/cv_fold_rmse_scores/blocked_cv_fold_1_24h.csv', 'cv_rmse_scores/cv_fold_rmse_scores/expanded_w_cv_fold_1_24h.csv',
                'cv_rmse_scores/cv_fold_rmse_scores/blocked_cv_fold_2_24h.csv', 'cv_rmse_scores/cv_fold_rmse_scores/expanded_w_cv_fold_2_24h.csv',
                'cv_rmse_scores/cv_fold_rmse_scores/blocked_cv_fold_3_24h.csv', 'cv_rmse_scores/cv_fold_rmse_scores/expanded_w_cv_fold_3_24h.csv',
                'cv_rmse_scores/cv_fold_rmse_scores/blocked_cv_fold_4_24h.csv', 'cv_rmse_scores/cv_fold_rmse_scores/expanded_w_cv_fold_4_24h.csv']
    
fold_rmse_names = ['df_blocked_fold_0_24h', 'df_exp_w_fold_0_24h',
                'df_blocked_fold_1_24h', 'df_exp_w_fold_1_24h',
                'df_blocked_fold_2_24h', 'df_exp_w_fold_2_24h',
                'df_blocked_fold_3_24h', 'df_exp_w_fold_3_24h',
                'df_blocked_fold_4_24h', 'df_exp_w_fold_4_24h']

    
fold_rmse_dfs = {}

for file_path, name in zip(paths_fold_rmses, fold_rmse_names):
    fold_rmse_dfs[name] = pd.read_csv(file_path)

In [14]:
fold_rmse_dfs['df_blocked_fold_0_24h']

   fold  model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0     0       15.951337          23.103068         16.263123

In [15]:
fold_rmse_dfs['df_exp_w_fold_0_24h']

   fold  model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0     0       15.951337          23.103068         16.263123

In [16]:
fold_rmse_dfs['df_blocked_fold_1_24h']

   fold  model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0     1        21.11044          26.142512         19.742483

In [17]:
fold_rmse_dfs['df_exp_w_fold_1_24h']

   fold  model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0     1       21.448145          25.906981         22.654166

In [18]:
fold_rmse_dfs['df_blocked_fold_2_24h']

   fold  model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0     2       21.141054          29.094704         23.341672

In [19]:
fold_rmse_dfs['df_exp_w_fold_2_24h']

   fold  model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0     2       20.296105          29.212697         23.249334

In [20]:
fold_rmse_dfs['df_blocked_fold_3_24h']

   fold  model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0     3       20.983668          31.795311         24.574369

In [21]:
fold_rmse_dfs['df_exp_w_fold_3_24h']

   fold  model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0     3        20.22987           31.33188         28.204973

In [22]:
fold_rmse_dfs['df_blocked_fold_4_24h']

   fold  model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0     4       46.104902          51.813772         41.008047

In [23]:
fold_rmse_dfs['df_exp_w_fold_4_24h']

   fold  model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0     4       44.884775          50.496694         41.886635

We can see that TBATS' comparative advantage over linear regression is inconcsistent. It underperforms LinearRegression on every exp_w fold except for the final one. Moreover, it also underperforms LinearRegression on 3 of the 5 blocked folds (folds 0, 2, and 3). When the best cv performancence differs on the two cv methods, the code is set to select the ore consistent model (measured in standard deviation size). However, given that the logic behind including expanding windwo cross validation was to give SARIMA and TBATS a fighting chance, and TBATs was still outperformed on this metric, was outperformed on 3 of five folds during blocked cv, and had only a marginal advantage in blocked_cv (27.25 to 26.40) it is reasonable to set the override parameter to True on our rmse_comp function and pass the function LinearRegression as the override model. This decision is further justified by the fact that LinearRegression trains much faster than TBATS and is significantly more computationally efficient. 

Therefore, our rmse_comp() function call will look like this in the test_runner script:

```
best_model_day = rmse_comp(avg_rmse_dfs['df_one_day_blocked'], 
                                  avg_rmse_dfs['df_ond_day_exp_w'], 
                                  'day', 
                                  24, 
                                  override=True, 
                                  override_model=TBATS)
```
This is different from the call we used when we were happy with the default result which looked like this:
```
best_model_day = rmse_comp(avg_rmse_dfs['df_one_day_blocked'], 
                                  avg_rmse_dfs['df_one_day_exp_w'], 
                                  'day', 
                                  24)
```

The rmse_comp function prompts a manual review of the rmses to the different cv folds to ensure the reviewer agrees with the default selection. See the model_io.py script in the src folder for a review of the code.

With our rmse_comp

In [24]:
hour_test_results_df = pd.read_csv('hour_test_results.csv', index_col=0)
hour_test_results_df

,index,best_hour_model: LinearRegression,lag_1,lag_24,lag_72,lag_168
0,rmse,41.069461,74.296422,58.339166,49.678131,51.645426
1,nrmse,0.674510,1.220218,0.958142,0.815896,0.848206
2,r2,0.545036,-0.488932,0.081964,0.334314,0.280546

In [25]:
twelve_hours_test_results_df = pd.read_csv('12_hours_test_results.csv', index_col=0)
twelve_hours_test_results_df

,index,best_12_hours_model: LinearRegression,lag_24,lag_72,lag_168
0,rmse,37.367556,49.678131,58.339166,51.645426
1,nrmse,0.672130,0.815896,0.958142,0.848206
2,r2,0.548241,0.334314,0.081964,0.280546

In [26]:
day_test_results_df = pd.read_csv('day_test_results.csv', index_col=0)
day_test_results_df

  Unnamed: 0  best_day_model: TBATS     lag_24     lag_72    lag_168
0       rmse              58.488358  47.485712  57.959653  51.073826
1      nrmse               0.947651   0.808351   0.986649   0.869431
2         r2               0.101958   0.346569   0.026524   0.244089

In [27]:
three_days_test_results_df = pd.read_csv('3_days_test_results.csv', index_col=0)
three_days_test_results_df

  Unnamed: 0  best_3_days_model: LinearRegression     lag_72    lag_168
0       rmse                            50.824971  52.414467  57.757433
1      nrmse                             0.808470   0.845097   0.931244
2         r2                             0.346376   0.285811   0.132785

In [28]:
week_test_results_df = pd.read_csv('week_test_results.csv', index_col=0)
week_test_results_df

  Unnamed: 0  best_week_model: LinearRegression    lag_168
0       rmse                          50.027583  46.985030
1      nrmse                           0.798322   0.753809
2         r2                           0.362682   0.431772