In [1]:
import pandas as pd 
from src.model_io import rmse_comp
from test_runner import avg_rmse_dfs

In [2]:
blocked_cv_hour = pd.read_csv('cv_rmse_scores/cv_avg_rmse_scores/blocked_avg_rmse_1h.csv')
blocked_cv_12_hours = pd.read_csv('cv_rmse_scores/cv_avg_rmse_scores/blocked_avg_rmse_12h.csv')
blocked_cv_day = pd.read_csv('cv_rmse_scores/cv_avg_rmse_scores/blocked_avg_rmse_24h.csv')
blocked_cv_3_days = pd.read_csv('cv_rmse_scores/cv_avg_rmse_scores/blocked_avg_rmse_72h.csv')
blocked_cv_week = pd.read_csv('cv_rmse_scores/cv_avg_rmse_scores/blocked_avg_rmse_168h.csv')
expanded_w_cv_hour = pd.read_csv('cv_rmse_scores/cv_avg_rmse_scores/expanded_w_avg_rmse_1h.csv')
expanded_w_cv_12_hours = pd.read_csv('cv_rmse_scores/cv_avg_rmse_scores/expanded_w_avg_rmse_12h.csv')
expanded_w_cv_day = pd.read_csv('cv_rmse_scores/cv_avg_rmse_scores/expanded_w_avg_rmse_24h.csv')
expanded_w_cv_3_days = pd.read_csv('cv_rmse_scores/cv_avg_rmse_scores/expanded_w_avg_rmse_72h.csv')
expanded_w_cv_week = pd.read_csv('cv_rmse_scores/cv_avg_rmse_scores/expanded_w_avg_rmse_168h.csv')

In [3]:
blocked_cv_hour

   model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0        21.71205          24.131243         23.798406

In [4]:
expanded_w_cv_hour

   model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0       22.065125          23.986036         23.350236

In [5]:
blocked_cv_12_hours

   model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0       23.219898          33.174992         26.845681

In [6]:
expanded_w_cv_12_hours

   model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0         23.5157          33.040719         25.173986

In [7]:
blocked_cv_day

   model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0       23.976543          34.386833         25.682856

In [8]:
expanded_w_cv_day

   model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0       23.820579          34.355598         24.686339

In [9]:
blocked_cv_3_days

   model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0       24.010533          39.154279           29.3312

In [10]:
expanded_w_cv_3_days

   model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0       24.033459          39.782587         23.650284

In [11]:
blocked_cv_week

   model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0       25.712999           52.39466         27.681694

In [12]:
expanded_w_cv_week

   model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0       25.978239          52.961845         27.900077

LinearRegression and TBATS outperform SARIMA by a wide margin for every cross validation type and forecast length, and LinearRegression edges out TBATS for every forecast length and cross validation type except for expanding window cross validation for a 72 hour forecast. Let's get a look at the cross validation folds for both blocked and expanding window cross validation for a 72 hour forecast length.

Note that the second value for each fold number is the one that corrsponds to rmses for expanding window cross validation.

In [13]:
paths_fold_rmses = ['cv_rmse_scores/cv_fold_rmse_scores/blocked_cv_fold_0_72h.csv', 'cv_rmse_scores/cv_fold_rmse_scores/expanded_w_cv_fold_0_72h.csv',
                'cv_rmse_scores/cv_fold_rmse_scores/blocked_cv_fold_1_72h.csv', 'cv_rmse_scores/cv_fold_rmse_scores/expanded_w_cv_fold_1_72h.csv',
                'cv_rmse_scores/cv_fold_rmse_scores/blocked_cv_fold_2_72h.csv', 'cv_rmse_scores/cv_fold_rmse_scores/expanded_w_cv_fold_2_72h.csv',
                'cv_rmse_scores/cv_fold_rmse_scores/blocked_cv_fold_3_72h.csv', 'cv_rmse_scores/cv_fold_rmse_scores/expanded_w_cv_fold_3_72h.csv',
                'cv_rmse_scores/cv_fold_rmse_scores/blocked_cv_fold_4_72h.csv', 'cv_rmse_scores/cv_fold_rmse_scores/expanded_w_cv_fold_4_72h.csv']
    
fold_rmse_names = ['df_blocked_fold_0_72h', 'df_exp_w_fold_0_72h',
                'df_blocked_fold_1_72h', 'df_exp_w_fold_1_72h',
                'df_blocked_fold_2_72h', 'df_exp_w_fold_2_72h',
                'df_blocked_fold_3_72h', 'df_exp_w_fold_3_72h',
                'df_blocked_fold_4_72h', 'df_exp_w_fold_4_72h']

    
fold_rmse_dfs = {}

for file_path, name in zip(paths_fold_rmses, fold_rmse_names):
    fold_rmse_dfs[name] = pd.read_csv(file_path)

In [14]:
fold_rmse_dfs['df_blocked_fold_0_72h']

   fold  model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0     0       17.556118          35.049616         18.212633

In [15]:
fold_rmse_dfs['df_exp_w_fold_0_72h']

   fold  model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0     0       17.556118          35.049616         18.212633

In [16]:
fold_rmse_dfs['df_blocked_fold_1_72h']

   fold  model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0     1       20.279421          28.897679         25.480492

In [17]:
fold_rmse_dfs['df_exp_w_fold_1_72h']

   fold  model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0     1        20.52698          29.354151         21.554702

In [18]:
fold_rmse_dfs['df_blocked_fold_2_72h']

   fold  model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0     2       23.747469          44.840111         21.470975

In [19]:
fold_rmse_dfs['df_exp_w_fold_2_72h']

   fold  model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0     2       22.545097          45.223532         20.412523

In [20]:
fold_rmse_dfs['df_blocked_fold_3_72h']

   fold  model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0     3       26.444753          38.458172         50.987015

In [21]:
fold_rmse_dfs['df_exp_w_fold_3_72h']

   fold  model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0     3       26.445547          40.652044         26.256044

In [22]:
fold_rmse_dfs['df_blocked_fold_4_72h']

   fold  model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0     4       32.024906          48.525819         30.504884

In [24]:
fold_rmse_dfs['df_exp_w_fold_4_72h']

   fold  model_lin_rmse  model_sarima_rmse  model_tbats_rmse
0     4       33.093553          48.633593         31.815516

We can see that TBATs outperformed LinearRegression on both cross validation types for fold 2, was slightly better for expanded window cv on fold 3, and is better across the board for fold 3. However, our rmse_comp function is set up to pick the model with the lowest standard devation across all folds and cross validation types which would be LinearRegression in this case. The reasons in favor of sticking with the default result would be that, of course, the default result showed more consistent performance during cross validation, and that blocked cross validation is more robust than expanding window cross validation because a given piece of training data that leads to poor performance may be drowned out in expanding window cross validation because in larger training sets, training data a model does not utilize well can be drowned out by training sets the model does utilize well. Of course, we see this occur in the 72 hour forecast window for our TBATS model. The model performs comparably very bad for blocked CV on fold 3, and comparably good for expanding window cv on fold 3. 

These results favor the default selection of a the more cosistent LinearRegression model. However, in practice, real world implementation with dynamic model training is more closely approximated by expanding window cross validation. The only risk would be that we get a fold like fold 3 as our first set of training data the model performs on, leading to comparably poor early performance. In principle, it's possible we might try to deploy a model with only 6 weeks worth of training for a time series foreasting situation like this, but if we were to deploy a model with the amount of training data we have in this set, it would appear to be a non-issue. Therefore, we would be justified in overwriting the default selection of LinearRegression for this 3 day forecasting window, especially because the performance gap for expanding window cross validation appears to be improving as the amount of data trained on increases. Therefore, we have to set the override parameter to True, and pass the rmse_comp function the name of the model we want to be tested on the test set. Therefore our rmse_comp function call will look like this for a 3 day forecast length:
```
best_model_3_days = rmse_comp(avg_rmse_dfs['df_72_hours_blocked'], 
                                  avg_rmse_dfs['df_72_hours_exp_w'], 
                                  '3_days', 
                                  72, 
                                  override=True, 
                                  override_model=TBATS)
```
This is different from the call we used when we were happy with the default result which looked like this:
```
best_model_3_days = rmse_comp(avg_rmse_dfs['df_72_hours_blocked'], 
                                  avg_rmse_dfs['df_72_hours_exp_w'], 
                                  '3_days', 
                                  72)
```

The rmse_comp function prompts a manual review of the rmses o the different cv folds to ensure the reviewer agrees with the default selection. See the model_io.py script in the src folder for a review of the code.

With our rmse_comp